<ul class="nav nav-pills justify-content-center flex-wrap gap-2 my-3 ">
    <li class="nav-item">
      <a class="nav-link active d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-ui-radios-grid"></i> <label class="mb-0">All Services</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-bucket"></i> <label class="mb-0">Cleaning</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-book"></i> <label class="mb-0">Tutoring</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-egg-fried"></i> <label class="mb-0">Cooking</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-laptop"></i> <label class="mb-0">Tech Help</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-globe"></i> <label class="mb-0">Online</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-house-door"></i> <label class="mb-0">In-Person</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-clock-history"></i> <label class="mb-0">Available Now</label>
      </a>
    </li>
    <!-- New Filters -->
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-ev-front"></i> <label class="mb-0">Repair</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-file-music"></i> <label class="mb-0">Music</label>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
        <i class="bi bi-camera"></i> <label class="mb-0">Photography</label>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex flex-column align-items-center icon-label-sm" href="#">
          <i class="bi bi-star"></i> <label class="mb-0">Top Rated</label>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link filter d-flex align-items-center gap-2" href="#" style="flex-direction: row !important; margin-top: 15px;">
          <i class="bi bi-sliders"></i> <label class="mb-0 bca">Filters</label>
        </a>
    </li>
</ul>
