<div class="bg-white" >
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <!-- More products... -->
        <a href="#" class="group block">
            <div id="carouselExampleDark1" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                      <!-- Like Icon in top-right -->
            <div class="absolute top-3 right-4 z-10">
                <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
            </div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
              <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
              <button type="button" data-bs-target="#carouselExampleDark1" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
            </div>
        
            <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://a0.muscache.com/im/pictures/b47c4f7e-7b53-4a37-898c-b64bf95b50d6.jpg?im_w=1920" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://a0.muscache.com/im/pictures/c7d19fdb-0989-43ce-bc90-379e1133e97b.jpg?im_w=1920" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://a0.muscache.com/im/ml/photo_enhancement/pictures/miso/Hosting-48374841/original/1b98bf08-25b1-4b9d-86ce-fedd0a0ce837.jpeg?im_w=720" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
            </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
              <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
              <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
              <span class="visually-hidden">Next</span>
            </button>
            
          </div>
        
          <!-- Description below -->
          <div class="mt-4">
            <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
          </div>
        </a>       
        <!-- More products... -->
        <a href="#" class="group block">
                    <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                              <!-- Like Icon in top-right -->
                    <div class="absolute top-3 right-4 z-10">
                        <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
                    </div>
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
                      <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
                      <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
                    </div>
                
                    <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTE0MDM5ODY2Mzk2OTAxMDgyMw%3D%3D/original/bab5136b-7a39-41c3-9068-b38fe1ded4c4.jpeg?im_w=720" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-39177604/original/3b0dd82f-2c65-4b78-8b9a-68f7de66fdb4.jpeg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://a0.muscache.com/im/pictures/miso/Hosting-638843127408153329/original/3352ac4c-f12a-45ef-9c82-6d81217c86bb.jpeg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                      </div>
                    </div>
                
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                      <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                      <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
                      <span class="visually-hidden">Next</span>
                    </button>
                    
                  </div>
                
                  <!-- Description below -->
                  <div class="mt-4">
                    <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
                    <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
                  </div>
        </a> 
                <!-- More products... -->
                <a href="#" class="group block">
                  <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                            <!-- Like Icon in top-right -->
                  <div class="absolute top-3 right-4 z-10">
                      <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
                  </div>
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
                    <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
                    <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
                  </div>
              
                  <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <img src="https://vader-prod.s3.amazonaws.com/1686260058-merrifield-minnesota-united-states-64824920e0cc7.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                      <img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-53324355/original/681c19b3-24e6-4bb0-b711-6ba5a345a60d.jpeg?im_w=720" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.shopify.com/s/files/1/1561/8759/files/21_630sqft_Modern_Tiny_Home_for_rent_on_VRBO_in_Atlanta_Georgia_1024x1024.webp?v=1711047580" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                    </div>
                  </div>
              
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                    <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                    <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
                    <span class="visually-hidden">Next</span>
                  </button>
                  
                </div>
              
                <!-- Description below -->
                <div class="mt-4">
                  <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
                </div>
      </a> 
              <!-- More products... -->
              <a href="#" class="group block">
                <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                          <!-- Like Icon in top-right -->
                <div class="absolute top-3 right-4 z-10">
                    <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
                </div>
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
                  <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
                  <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
                </div>
            
                <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://media.cntraveler.com/photos/61a60b14e663d9fce4b711c1/1:1/w_800,h_801,c_limit/Airbnb%2039271504.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://media.architecturaldigest.com/photos/64bfff8ec24f60ae37d524c3/3:4/w_320%2Cc_limit/0e3aca5e-14ac-41b2-ae00-dc12f82cf971.jpeg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn1.matadornetwork.com/blogs/1/2024/04/airbnb-for-families-2-1.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                  </div>
                </div>
            
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                  <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                  <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
                  <span class="visually-hidden">Next</span>
                </button>
                
              </div>
            
              <!-- Description below -->
              <div class="mt-4">
                <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
                <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
              </div>
    </a> 
            <!-- More products... -->
            <a href="#" class="group block">
              <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                        <!-- Like Icon in top-right -->
              <div class="absolute top-3 right-4 z-10">
                  <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
              </div>
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
                <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
                <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
              </div>
          
              <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="https://www.mashvisor.com/blog/wp-content/uploads/2019/12/House-Hacking-with-Airbnb-How-to-Live-for-Free.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="https://www.mashvisor.com/blog/wp-content/uploads/2020/01/bigstock-Small-Family-House-With-Curved-317475139.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://a0.muscache.com/im/pictures/miso/Hosting-1019597967063845214/original/6017cd50-9f59-45a4-bf99-f31af735f797.jpeg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
                </div>
              </div>
          
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
                <span class="visually-hidden">Previous</span>
              </button>
              
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
                <span class="visually-hidden">Next</span>
              </button>
              
            </div>
          
            <!-- Description below -->
            <div class="mt-4">
              <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
              <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
            </div>
  </a> 
          <!-- More products... -->
          <a href="#" class="group block">
            <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                      <!-- Like Icon in top-right -->
            <div class="absolute top-3 right-4 z-10">
                <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
            </div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
              <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
            </div>
        
            <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
              </div>
            </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
              <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
              <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
              <span class="visually-hidden">Next</span>
            </button>
            
          </div>
        
          <!-- Description below -->
          <div class="mt-4">
            <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
          </div>
</a> 
        <!-- More products... -->
        <a href="#" class="group block">
          <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                    <!-- Like Icon in top-right -->
          <div class="absolute top-3 right-4 z-10">
              <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
          </div>
      
          <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
            <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
            <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Next</span>
          </button>
          
        </div>
      
        <!-- Description below -->
        <div class="mt-4">
          <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </div>
</a> 
        <!-- More products... -->
        <a href="#" class="group block">
          <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                    <!-- Like Icon in top-right -->
          <div class="absolute top-3 right-4 z-10">
              <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
          </div>
      
          <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
            <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
            <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Next</span>
          </button>
          
        </div>
      
        <!-- Description below -->
        <div class="mt-4">
          <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </div>
</a> 
        <!-- More products... -->
        <a href="#" class="group block">
          <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                    <!-- Like Icon in top-right -->
          <div class="absolute top-3 right-4 z-10">
              <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
          </div>
      
          <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
            <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
            <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Next</span>
          </button>
          
        </div>
      
        <!-- Description below -->
        <div class="mt-4">
          <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </div>
</a> 
        <!-- More products... -->
        <a href="#" class="group block">
          <div id="carouselExampleDark2" class="carousel carousel-dark slide aspect-square w-full rounded-lg xl:aspect-7/8">
                    <!-- Like Icon in top-right -->
          <div class="absolute top-3 right-4 z-10">
              <i class="bi bi-heart-fill text-3xl cursor-pointer icon-heart"></i>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2" style="border-radius: 11px; background-color: white;"></button>
            <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3" style="border-radius: 11px; background-color: white;"></button>
          </div>
      
          <div class="carousel-inner rounded-lg" style="border-radius: 20px;">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/category-page-04-image-card-04.jpg" class="d-block w-100 transition duration-300 group-hover:opacity-93" alt="...">
            </div>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
            <i class="bi bi-arrow-left-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Previous</span>
          </button>
          
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
            <i class="bi bi-arrow-right-circle-fill text-3xl text-black"></i>
            <span class="visually-hidden">Next</span>
          </button>
          
        </div>
      
        <!-- Description below -->
        <div class="mt-4">
          <h3 class="text-sm text-gray-700">Machined Mechanical Pencil</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">$35</p>
        </div>
</a> 
      </div>
    </div>
</div>
  